<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/ryanjd326">Ryan</a>. An aspiring web developer who is on a mission to succeed in this new coding endeavor!
  </p>
  <br />
  <p> 
    Ryan has years of CNC machining and programming experience, as well as off-line CAM software usage capabilities.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>
  
</div>