<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/ryanjd326">Ryan</a>. An aspiring web developer who is on a mission to succeed in this new coding endeavor!
  </p>
  <br />
  <p> 
    Ryan has years of CNC machining and programming experience, as well as off-line CAM software usage capabilities. He also has experience in PLC programming and industrial automation.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ryan.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ryan Dickinson</h2>
      <br />
      <p>
        Ryan Dickinson is an aspiring web developer while currently working as a night shift manager, CNC lathe programmer/operator and tooling purchaser for a CNC machining corporation. In what little spare time he has, he enjoys spending time with his wife, Laura, and their 3 dogs, as well as working on and riding his beloved Harley.
      </p>
    </div>
  </div>

  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />